.nav_header{
    display: inline;
}
/**
.email{
    display:none;
}**/

.p2{
    /*width: 50%;*/
}

header {
    background-color: rgb(172, 248, 78);
  }
  
  /* Create two columns/boxes that floats next to each other */
main
{
    background-color: rgba(95, 158, 160, 0);
    display: grid; 
    /*grid-template-columns: 10% 90%;*/ 
    grid-template-columns: 1fr 9fr; 
    grid-gap:15px;
}

nav {
    background: rgb(119, 135, 214);
}
  
article {
    background-color: rgba(170, 59, 133, 0);
    display: grid;
    grid-template-columns: 2fr 4fr 4fr; 
    grid-gap:15px;
   /** border: 15px solid green;
    padding: 100px;
    margin: 30px*/
}
  
div{
    overflow: hidden;
    width: 500px;
    height: 400px;
}

div:hover img{
    transform: scale(1.2);
}

div img{
    transition: all .4s;
}

img{display: block;
width: 50%;
}

footer {
    background-color: rgba(251, 251, 251, 0);
}

h1
{
    margin:auto;
}
